/* Importações de arquivos css externos */
@import url('menu.css');
@import url('home.css');
@import url('servicos.css');
@import url('galeria.css');
@import url('sobre.css');
@import url('contato.css');
@import url('wavedivider.css');
:root {
    --primary-color: #D38EA1; /* Rosa Médio */
    --secondary-color: #F5ECE7; /* Rosa Pálido */
    --tertiary-color: #A7667A; /* Dourado */
    --quaternary-color: #F5ECE7; /* Cinza Claro */
    --quinary-color: #F5ECE7; /* Branco */
    --senary-color: #333333; /* Cinza Escuro */
    --fonte-titulo: 'kings-caslon-display', serif;
    --fonte-subtitulo: 'Lato', sans-serif;
    --fonte-texto: 'Lato', sans-serif;
}


/* Reset CSS */
html {
    scroll-behavior: smooth;
    background-color: var(--quaternary-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

