/* Seção Sobre Mim */
@import url('style.css');
#sobre {
    background-color: var(--quaternary-color);
    padding: 4rem 1rem;
    text-align: center;
    color: var(--senary-color);
}

#sobre h2 {
    font-size: 3.6rem;
    margin-bottom: 2rem;
}

#sobre p {
    font-size: 1.6rem;
    line-height: 1.6;
}
@media (max-width: 768px) {
    #sobre h2 {
        font-size: 2.4rem;
    }
    #sobre p {
        font-size: 1.2rem;
    }
    
}