/* Seção Sobre Mim */
#sobre {
    background-color: #fff;
    color: #333;
    padding: 4rem 1rem;
    text-align: center;
}

#sobre .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

#sobre h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--primary-color);
    animation: esquerdaParaDireita 1s ease-out;
}

.sobre-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sobre-text {
    flex: 1;
    min-width: 300px;
    padding: 1rem;
    animation: esquerdaParaDireita 1.1s ease-out;
}

.sobre-text p {
    font-size: 1.4rem;
    line-height: 1.6;
}

.sobre-img {
    flex: 1;
    min-width: 300px;
    padding: 1rem;
    animation: direitaParaEsquerda 1.1s ease-out;
}

.sobre-img img {
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .sobre-content {
        flex-direction: column;
    }

    .sobre-text,
    .sobre-img {
        text-align: center;
        padding: 1rem 0;
    }
    #sobre h2{
        font-size: 3rem;
    }

}
