/* Imports de arquivos terceiros */
@import url('menu.css');
@import url('rodape.css');
@import url('contato.css');
@import url('home.css');
@import url('sobre.css');
@import url('portfolio.css');
@import url('servicos.css');
@import url('testemunhos.css');
@import url('contato.css');

/* Configurações ROOT */
:root {
    --primary-color: #00B0D5;
    --secondary-color: #4160D9;
    --tertiary-color: #4190D9;
    --quaternary-color: #41D9C0;
    --quinary-color: #5341D9;
    --senary-color: #89B2D9;
}

/* Reset CSS */
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: "josefin-sans", sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000000;
}


section {
    text-align: center;
}

h1,
h2 {
    margin-bottom: 1rem;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projetos div {
    background: #fff;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 2rem);
}

/* .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
} */

/* section {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.section-visible {
    opacity: 1;
} */

/* Responsividade */
/* @media (max-width: 768px) {
    .projetos div {
        width: calc(50% - 2rem);
    }

}

@media (max-width: 480px) {
    .projetos div {
        width: calc(100% - 2rem);
    }
} */



.hidden{
    visibility: hidden;
}
/* animações com keyframes */
/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    visibility: visible;
    animation: fadeIn 1s forwards;
}

/* Slide-in from left animation */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
    visibility: visible;
    animation: slideInLeft 1s forwards;
}

/* Slide-in from right animation */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-right {
    visibility: visible;
    animation: slideInRight 1s forwards;
}

/* Zoom-in animation */
@keyframes zoomIn {
    from {
        transform: scale(0.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in {
    visibility: visible;
    animation: zoomIn 1s forwards;
}
.aparecer{
    visibility: visible;
}